/.tmp
/.hgignore
/.hgtags
/.project
/.cproject
/config.h
/Makefile*
/config.log
/config.status
/autom4te.cache
/changes.patch
/ChangeLog
/doxygen.warn
/libtool
src/.libs/
contrib/gen_sccpconf/.deps/
contrib/gen_sccpconf/Makefile
src/config.h.bak
src/config.h.in.bak
.*~
*~
.revision
src/revision.h
