/.tmp
/.hgignore
/.hgtags
/.project
/.cproject
/config.h
Makefile
/config.log
/config.status
/config.cache
/autom4te.cache
/changes.patch
/ChangeLog
/doxygen.warn
/libtool
.libs
.deps
*.lo
*.la
*.o
contrib/gen_sccpconf/.deps/
contrib/gen_sccpconf/Makefile
contrib/gen_sccpconf/gen_sccpconf
src/config.h.bak
src/config.h.in.bak
.*~
*~
.revision
src/revision.h
src/sccp_enum.?
*.bak
*.diff
coverage/
chan_sccp-en_US.xml
