#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
# export DH_COMPAT=7

# shared library versions, option 1
version=2.0.5
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

ifeq (,$(wildcard /usr/include/asterisk/http.h))
	CONFIGURE_EXTRA_PARAMS=--enable-experimental-xml
else
	CONFIGURE_EXTRA_PARAMS=
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	./configure --enable-video --enable-conference --enable-distributed-devstate --enable-advanced-features $(CONFIGURE_PARAMS) --with-hash-size=4001
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp  
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	$(MAKE) gen_sccpconf
#	$(MAKE) doxygen-doc

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(CURDIR)/build
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Add here commands to install the package into debian/chan-sccp
	$(MAKE) DESTDIR=$(CURDIR)/debian/chan-sccp install
	$(MAKE) DESTDIR=$(CURDIR)/debian/chan-sccp gen_sccpconf_install

override_dh_auto_install:
	dh_auto_install

# Build architecture-independent files here.
binary-indep: build-stamp install
	dh_testdir
	dh_testroot
	#dh_installdocs -i --link-doc=chan-sccp
	#dh_fixperms -i
	#dh_installdeb -i
	#dh_gencontrol -i
	#dh_md5sums -i
	#dh_builddeb -i

# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
#	dh_installchangelogs ChangeLog
	dh_installchangelogs -p chan-sccp
	dh_installdocs -a --link-doc=chan-sccp
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip --dbg-package=chan-sccp-dbg
	dh_compress -a
	dh_fixperms -a
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
